# 1- Base du Python

## a) types

### Creez une variable 'string' contenant "toto" et une variable 'number' contenant le nombre 10

In [6]:
string = "toto"
number = 10

### Convertissez 'string' en unicode et 'number' en float

In [9]:
string.encode('utf-8')
number = float(number)

float

### Inversez le contenu des variables 'string' et 'number' (en 1 ligne)

In [12]:
string, number = number, string

toto

## b) Listes

### Créez une liste A contenant les entiers suivants: 1, 3, 2, 7, 4, 10, 46

In [1]:
A = [1, 3, 2, 7, 4, 10, 46]


### Affichez les 3 premiers éléments de la liste A - en une ligne de code

In [14]:
print(A[0:3])

[1, 3, 2]

### Créez une liste B qui contient seulement les 3e, 4e et 5e éléments de A . Votre ligne de code ne devrait contenir que 8 caractères (sans compter les espaces) - Vérifiez bien votre résultat!

In [2]:
B = A[2:5]

### Concaténez les listes A et B pour former la liste C

In [3]:
C = A + B

### A l'aide de la function zip associez les valeurs de A et B dans la variable D

In [4]:
D = zip(A, B)

### Ajoutez le nombre 5 à la liste A

In [5]:
A.append(5)

### Ajoutez un élément nul à la liste C

In [6]:
C.append(None)

### Écrivez une fonction qui prend comme arguments une liste 'lst' et un entier 'n' et retourne le résultat de n concaténations de 'lst' avec elle-même (ex: lst=[1,2,3], n=2 --> [1,2,3,1,2,3])

In [7]:
def nconcat(lst, n):
    return n * lst

### Vous voulez rendre le paramètre 'n' optionnel et fixer sa valeur à 2 par défaut. Comment faites-vous?

In [8]:
def nconcat_default(lst, n = 2):
    return n * lst

Z = nconcat_default(B)
print(Z)

[2, 7, 4, 2, 7, 4]

### Avec une boucle 'while', imprimez chaque élément de la liste C jusqu'à l'élément nul

In [9]:
i = 0
while C[i] != None:
    print(C[i])
    i += 1

1
3
2
7
4
10
46
2
7
4

### Calculez, avec une boucle 'for', le nombre d'entiers pairs présents dans la liste A

In [11]:
i = 0
for elem in A:
    i += 1 if elem % 2 == 0 else 0
print(A)
print(i)

[1, 3, 2, 7, 4, 10, 46, 5]
4

### Réécrivez l'expression suivante avec une boucle 'for' sur plusieurs lignes

In [4]:
C = [element for element in A if element %2 == 0]

In [13]:
C = []
for element in A:
    if element % 2 == 0:
        C.append(element)
print(C)

[2, 4, 10, 46]

### Creez une fonction qui prend une string en entree et retourne la premiere lettre unique de la string

In [35]:
def first_unique_letter(str):
    for letter in str:
        if str.count(letter) == 1:
            return letter
        
string = "llool"
letter = first_unique_letter(string)
print(letter)

None

## c) Dictionnaire

### Creez un dictionnaire 'voiture' avec les cles et les valeurs suivantes:
| cle  | valeur |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [37]:
voiture = {'brand': "FORD", 'model': "Mustang", 'year': 1964}

### Accedez a la valeur de "year"

In [39]:
print(voiture["year"])

1964

### Affichez a l'aide d'une boucle, l'ensemble des cles du dictionnaires

In [41]:
for key in voiture:
    print(key)

brand
model
year

### Affichez a l'aide d'une boucle, l'ensemble des valeurs du dictionnaires

In [42]:
for key in voiture:
    print(voiture[key])

FORD
Mustang
1964

### Affichez a l'aide d'une boucle, l'ensemble des items du dictionnaires. Affichez egalement l'indice de chaque iteration de boucle (fonction enumerate)

In [53]:
for idx, key in enumerate(voiture):
    print(str(idx) + ": " + key + " = " + str(voiture[key]))
    
for idx, (k,v) in enumerate(voiture.items()):
    print(str((k,v)))

0: brand = FORD
1: model = Mustang
2: year = 1964
('brand', 'FORD')
('model', 'Mustang')
('year', 1964)

### A l'aide d'une dictionnaire comprehension creez un dictionnaire avec les cles et valeurs suivantes :
| cle  | valeur |
|---|---|
| cle_1  | dictionnaire 'voiture' |
| cle_2  | dictionnaire 'voiture' |
| cle_3  | dictionnaire 'voiture' |

#### exemple de dictionnaire comprehension :
```
dict = {cle:valeur for cle, valeur in list_1, list_2}
```

In [69]:
dict = {"cle_" + str(idx[0] + 1):voiture for idx in enumerate(voiture)}
print(dict)

{'cle_1': {'brand': 'FORD', 'model': 'Mustang', 'year': 1964}, 'cle_2': {'brand': 'FORD', 'model': 'Mustang', 'year': 1964}, 'cle_3': {'brand': 'FORD', 'model': 'Mustang', 'year': 1964}}

## d) Fonctions

### Creez une fonction fibonacci (suite de fibonacci: 0 1 1 2 3 5 8 13 ...)

In [71]:
def fibonacci(n):
    F = []
    if n >= 0:
        F.append(0)
    if n >= 1:
        F.append(1)
    i = 2
    while i < n:
        F.append(F[-1] + F[-2])
        i += 1
    return F

### Executez votre fonction (fibonacci(100) doit etre execute en moins de 1 seconde)

In [74]:
F = fibonacci(1)
print (F)

[0, 1]

### Creez une fonction fibonacci en utilisant un generateur

<generator object fibonacci at 0x1091fae58>